RiftVM/RiftVM.xcodeproj/project.xcworkspace/xcuserdata/
RiftVM/RiftVM.xcodeproj/xcuserdata/
RiftVM/RiftVM.xcodeproj/xcshareddata/
.DS_Store
.build/
.swiftpm/
DerivedData/

# Local LLVM coverage output
*.profraw
